a:hover{
	text-decoration: none;
}

#list-filter {
	/*margin-bottom: 60px;*/
}

#main-pane, #tag-filter, #tag-filter-small {
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	margin-bottom: 10px;
}

#tag-filter-small {
	padding: 0 15px;
}

#tag-filter-small li {
	list-style-type: none;
	list-style-image: none;
	display: inline;
	margin: 0 20px 0 0;
	line-height: 28px;
}

#tag-filter-small a {
	color: #999;
	white-space: nowrap;
}

#tag-filter-small a:hover,
#tag-filter-small li.active a {
	color: #428bca;
	text-decoration: none;
}

.count.badge {
	float: right;
}

#new-todo-box {
	margin-bottom: 36px;
}

#new-todo-box .input-group-addon {
	padding: 6px 11px;
}

#item-list {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}

#item-list .todo {
	margin: 0 0 12px 0;
	padding: 12px 0 0 0;
	border-top: 1px solid #ccc;
}

#item-list .todo.done .form-control {
	text-decoration: line-through;
}

.item-tags {
	text-align: right;
	padding: 5px 15px 0 0;
}

.item-tags .tag {
	font-weight: normal;
	margin-left: 4px;
	padding: 4px 2px 4px 5px;
	background-color: transparent;
	border: 1px solid #cccccc;
	color: #666;
}

.item-tags .tag .icon {
	color: #aaa;
	margin-right: 4px;
}

.item-tags .tag .remove {
	margin-left: 6px;
	color: #999;
}

.item-tags .tag .remove:hover {
	color: #428bca;
}

.item-tags .addtag {
	padding: 0 1px 0 0;
}

.item-tags .edittag input {
	display: inline-block;
	padding: 0;
	border: 0;
	text-align: left;
	outline: none;
	color: #666;
}

.check {
	color: #ccc;
}

.check:hover {
	color: #666;
}

.check.done {
	color: #5cb85c;
}

.navbar-form .form-control {
	height: 28px;
	margin: 3px 0;
}